.modal-header
	button.close(type="button") ×
.modal-body
	a(href=image.originalUrl,target="_blank")
		img(src=image.medium)
	p
		i.icon-time
		span &nbsp;
			!= image.addedAt
	p
		a(href=image.articleUrl,target="_blank") Check out the original page