!!! 5
html
	head
		title!= title
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css")
	body
		.container
			block content
		script(src="/js/bundle.js")